html {
    margin: 0;
    scroll-behavior: smooth;
}

main{
    display: grid;
    grid-template-columns: repeat(4,100vw);
    grid-template-rows: repeat(3,100vh);
}

body{
    margin: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

#intro{
    grid-row: 3;
    grid-column: 1;
    background-image: linear-gradient(to bottom, rgb(57, 84, 202),  skyblue);
    position: relative;
}

.cloud{
    position: absolute;
    width: 70%;
}

#cloud1{
    left: 0;
    z-index: 2;
    animation-name: cloudMovement;
    animation-duration: 4s;
}

@keyframes cloudMovement{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10em);
    }

}

#cloud2{
    right: 0;
    transform: translateX(-10em) 4s;
}

#title{
    width: 50%;
    z-index: 1;
    animation-name: titleMovement;
    animation-duration: 4s;
    animation-delay: 1s;
}

@keyframes titleMovement{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

#entry{
    grid-row: 3;
    grid-column: 2;
}

#hall{
    grid-row: 2;
    grid-column: 2;
}

/*Estilos del living*/
#living{
    grid-row: 2;
    grid-column: 1;
    background-image: url(../img/living-room2.jpg);
    background-size: 100vw 100vh;
}

#living-top-arrow{
    height: fit-content;
    position: absolute;
    top: 5%;
    cursor: pointer;
    left: 20px;

}

#img_cushion{
    width: 160px;
    height: 160px;
    z-index: 2;
}

.cushion{
    position: absolute;
    right: 240px;
    size: 20px;
    z-index: 2;
}

.cushion :hover{
    animation-name: cushion_movement;
    animation-duration: 4s;
}



#letrag{
    position: absolute;
    width: 70px;
    height: 70px;
    right: 260px;
    z-index: 1;
}

#nota1{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 435px;
    top: 190px;
    animation: musical-notes 0.09s infinite alternate;
}

#nota2{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 350px;
    top: 190px;
    animation: musical-notes 0.09s infinite alternate;
}

.nota1{
    position: absolute;
}

.nota2{
    position: absolute;
}
.light1{
    color: rgba(255, 255, 0, 0.5);
    width: 80px;
    height: 100px;
    left: 320px;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
    border-bottom: 100px solid;
    position: absolute;

    top: 15%; 
    animation-fill-mode: both;
    animation-name: light_1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.shoe{
    position: absolute;
}

#shoe{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 350px;
    bottom: 150px;

}

.charco{
    position: absolute;
}

#charco{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 350px;
    bottom: 50px;

}

.shoe :hover{
    animation-name: shoe_movement;
    animation-duration: 4s;
}

@keyframes cushion_movement{
    from{
        transform: translateX(10px);
    }
    to{
        transform: translateX(130px);
    }
}

@keyframes shoe_movement{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-130px);
    }
}

@keyframes musical-notes{
    from{
        transform: translateX(25px);
    }
    to{
        transform: translate3d(-25px);
    }
}

@keyframes light_1{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.typing{
    position: absolute;
    width: 100vw;
    height: 30vh;
    bottom: 0;
}

h1{
    border-radius: 30px;
    float: left;
    color: rgb(245, 240, 240);
    position: relative;
    background-color: rgba(103, 21, 197, 0.5);
    font-size: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background: blue;
    border-left: 1px solid #000; 

    animation: typing 15s steps(225);
}


@keyframes typing{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255,255,255,.75);
    }
    to{
        border-right-color: transparent;
    }
}

/*______________________________________________ */ 
#kitchen{
    grid-row: 1;
    grid-column: 1;
}

#dinning-room{
    grid-row: 2;
    grid-column: 3;
}

#hallway{
    grid-row: 1;
    grid-column: 2;
}

#bart-room{
    grid-row: 1;
    grid-column: 3;
}

#lisa-room{
    grid-row: 1;
    grid-column: 4;
}

#maggie-room{
    grid-row: 2;
    grid-column: 4;
}


  
#game {
    grid-row: 3;
    grid-column: 4;
}

#end{
    grid-row: 3;
    grid-column: 3;
}

/* ARROWS */

.left-arrow{
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
}

.right-arrow{
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}

.bottom-arrow{
    height: fit-content;
    position: absolute;
    bottom: 2%;
    cursor: pointer;
}

.top-arrow{
    height: fit-content;
    position: absolute;
    top: 2%;
    cursor: pointer;
}

.left-arrow a, .right-arrow a, .bottom-arrow a, .top-arrow a{
    width: inherit;
    height: inherit;
    z-index: 1000;
}
 

