@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');


html {
    margin: 0;
    scroll-behavior: smooth;
}

main{
    display: grid;
    grid-template-columns: repeat(4,100vw);
    grid-template-rows: repeat(3,100vh);
}

body{
    margin: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

#intro{
    grid-row: 3;
    grid-column: 1;
    background-image: linear-gradient(to bottom, rgb(57, 84, 202),  skyblue);
    position: relative;
}

.cloud{
    position: absolute;
    width: 70%;
}

#cloud1{
    left: 0;
    z-index: 2;
    animation-name: cloudMovement;
    animation-duration: 4s;
}

@keyframes cloudMovement{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10em);
    }

}

#cloud2{
    right: 0;
    transform: translateX(-10em) 4s;
}

#title{
    width: 50%;
    z-index: 1;
    animation-name: titleMovement;
    animation-duration: 4s;
    animation-delay: 1s;
}

@keyframes titleMovement{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

#entry{
    grid-row: 3;
    grid-column: 2;
}

#hall{
    grid-row: 2;
    grid-column: 2;
}

#living{
    grid-row: 2;
    grid-column: 1;
}

#kitchen{
    grid-row: 1;
    grid-column: 1;
}

#dinning-room{
    grid-row: 2;
    grid-column: 3;
}

#hallway{
    grid-row: 1;
    grid-column: 2;
}

#bart-room{
    grid-row: 1;
    grid-column: 3;
}

#lisa-room{
    grid-row: 1;
    grid-column: 4;
}

#maggie-room{
    grid-row: 2;
    grid-column: 4;
}

#game{
    grid-row: 3;
    grid-column: 4;
}

#end{
    grid-row: 3;
    grid-column: 3;
}

/* ARROWS */

.left-arrow{
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
}

.right-arrow{
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}

.bottom-arrow{
    height: fit-content;
    position: absolute;
    bottom: 2%;
    cursor: pointer;
}

.top-arrow{
    height: fit-content;
    position: absolute;
    top: 2%;
    cursor: pointer;
}

.left-arrow a, .right-arrow a, .bottom-arrow a, .top-arrow a{
    width: inherit;
    height: inherit;
    z-index: 1000;
}
 
/*HALLWAY*/

#hallway {
    background-image: url(../img/hallway.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #d07e8a;
}

input {
    width: 80px;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    border-radius: 4px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BART'S ROOM*/

#bart-room {
    background-image: url(../img/bart-bedroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #f5a0b3;
}

#letter {
    position: absolute;
    left: 215px;
    bottom: 130px;
    background-color: #c2b0ed;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-color: #c2b0ed;
}

#letter:hover {
    border-color: black;
}
