@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

* {
    margin: 0;
}

body {
    background-color: #d07e8a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(13,100vw);
    grid-template-rows: repeat(1,100vh);
}   

main>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
} 

/*HALLWAY*/

#hallway {
    background-image: url(../img/hallway.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #d07e8a;
}

#box1 {
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 500px;
}

#box2 {
    width: 100px;
    position: absolute;
    bottom: 50px;
    left: 480px;
}

#box3 {
    width: 100px;
    position: absolute;
    bottom: 100px;
    right: 600px;
    z-index: 1;
}

#letterL {
    position: absolute;
    bottom: 120px;
    right: 650px;
    cursor: pointer;
    z-index: 2;
    color: #dd9c4c;
    font-family: 'Lexend Zetta', sans-serif;
}

#letterL:hover {
    color: #355d1e;
}

/*BART'S ROOM*/

#bart-room {
    background-image: url(../img/bart-bedroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #f5a0b3;
}

#ball {
    position: absolute;
    bottom: 100px;
    right: 400px;
    width: 80px;
    height: 60px;
}

#false {
    position: absolute;
    left: 215px;
    bottom: 130px;
    background-color: #c2b0ed;
    width: 20px;
    height: 20px;
    border: 0;
    border-color: #c2b0ed;
}

#false:hover {
    border-color: #fff;
    cursor: pointer;
}

#form {
    position: absolute;
    right: 65px;
    bottom: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90px;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    border-radius: 4px;
}


#letter {
    position: absolute;
    bottom: 130px;
    right: 430px;
    width: 14px;
    height: 14px;
    padding: 2px;
    font-size: 10px;
    background-color: black;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

#letter:hover {
    cursor: pointer;
}

/*ICONS*/

.far {
    font-size: 50px;
    color: rgb(228, 216, 112);
}

.fa-arrow-alt-circle-right {
    position: absolute;
    right: 20px;
    top: 50%;
}

.fa-arrow-alt-circle-left {
    position: absolute;
    left: 20px;
    top: 50%;
}

.fa-arrow-alt-circle-up {
    position: absolute;
    top: 20px;
    right: 50%;
}

.fa-arrow-alt-circle-down {
    position: absolute;
    bottom: 20px;
    right: 50%;
}

.fa-map-marked-alt {
    font-size: 80px;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.fa-map-marked-alt:hover {
    color: rgb(228, 216, 112);
}

/*BUTTON*/

.button-text {
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
} 

#ending {
    background: #426de4;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#ending:hover {
    background: rgb(189, 180, 102);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


/*CODE*/

/* input {
    width: 80px;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    border-radius: 4px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 */
