@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');


html {
    margin: 0;
    scroll-behavior: smooth;
}

main{
    display: grid;
    grid-template-columns: repeat(4,100vw);
    grid-template-rows: repeat(3,100vh);
}

body{
    margin: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    
}

#intro{
    grid-row: 3;
    grid-column: 1;
}

#entry{
    grid-row: 3;
    grid-column: 2;
}
/*ESTILOS DEL HALL*/
#hall{
    width: 100vw;
    height: 100vh;
    background-color:pink;
    perspective: 450px;}
    


#piso{width: 68%;
      height: 40%;
      position: absolute;
       bottom:0px;
      right: 0px;
      left: 220px;
      background-color:rgb(177, 99, 21);
      transform: rotateX(75deg);
      border: black solid;
      border-bottom: transparent;
      
        }

#puertacentral{width: 170px;
        height: 340px;
        border-radius: 50px 50px 0px 0px;
        position: absolute;
        left: 400px;
        bottom: 200px;
        z-index: 1;
        background-color:saddlebrown;
        border: black solid;
        border-bottom: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all 2s;
        transition-timing-function: linear;
        transform-origin: bottom right;
        
}
#puertacdentro{
        width: 170px;
        height: 340px;
        border-radius: 50px 50px 0px 0px;
        position: absolute;
        left: 400px;
        bottom: 200px;
        z-index: 1;
        background-color:rgba(44, 44, 172, 0.931);
        border: black solid;
        border-bottom: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: -1;
}
#armario{
    width:150px;
    height: 200px;
    background-color: chocolate;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    border: black solid;

}
#armario *{
    width: 150px;
    height:20px;
    background-color: darkgoldenrod;
    border:black solid;
    transition: 3s linear;

}
#estante3{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
#bote1{
    background-color: crimson;
    width:10px;
    height: 15px;
    border-radius: 0px 0px 5px 5px;
}
#bote1:hover{
    transform: translateX(-50px);
}
#estante2{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   
}
#paleta{
    width:40px;
    height: 40px;
    border:none;
    background-color: transparent;
    transform: rotateZ(80deg);
}
#paleta:hover{
    transform: translateX(100px)rotateZ(80deg);
}
#lapiz{
    width:40px;
    height: 20px;
    border:none
}
#lapiz:hover{
    transform: translateX(-80px);
}
#estante5{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#sombrero{
    width:40px;
    height: 40px;
    border:none;
    border-radius: 20px;
    background-color: transparent;
 
}
#sombrero:hover{
    transform: translateX(70px);
}
#pelota{
    width:30px;
    height: 22px;
    border: none;
    border-radius:10px;
    z-index:2;
    transition: 2s linear;
    background-color: transparent;
    
}
#pelota:hover{
    transform: translateX(-50px);
}
#letra{
    width:30px;
    height: 22px;
    border:none;
    position:absolute;
    left:50.8%;
    background-color: transparent;
}
#letra h3{
    border: none;
    background-color: transparent;
}
/*#puertacentral:hover{
 transform: rotateY(110deg);
}*/
#picaporte{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius:10px;
    margin-left: 1em;
    border: black solid;
}
#picaporte:hover{
    transform:scale(1.4) ;
}
#esc{
    perspective:300px;
     position: absolute;
     bottom: 80px;
     right:268px;
 }
 #escalera{
     width: 200px;
     height: 420px;
     z-index: 1;
     transform: rotateX(23deg);
     display: flex;
     flex-direction: column;
 }
 .escalera>div:nth-child(2n){
     background-color: rgb(149, 82, 226);
     height:35.4px
 }
 .escalera>div:nth-child(odd){
     background-color: rgb(173, 171, 255);
     height:50.4px
 }
 #escalera *{
     width: 200px;
     border: black solid;}
 
 
 
 #railing{
     perspective: 100px;  
     position: absolute;
     bottom: 180px;
     right:465px;
 }
 #baranda{
     width: 30px;
     height:300px;
     background-color:rgb(150, 112, 255);
   
     transform: rotate3d(1,1,1,20deg);
     border:black solid;
     border-radius: 0px 0px 10px 10px;
      z-index:2;
 }
 #sosten{
     width:20px;
     height:200px ;
     background-color: rgb(150, 112, 255);
     position: absolute;
     top:520px;
     right:40px;
     border: black solid;
     transform: rotateX(-4deg);
   
 }
#left-door{
    perspective: 100px;
}
#door{
    position: absolute;
    width:100px;
    height:500px;
    background-color: lavender;
    z-index:-1;
    right:460px;
    top: 60px;
    transform: rotateY(150deg);
    border-radius: 60px 60px 0px 0px;
    border: black solid;
    border-bottom:transparent

}
#right-door{
    width: 200px;
    height: 500px;
    background-color: rgb(184, 184, 245);
    position:absolute;
    right: 26px;
    border-radius: 60px 60px 0px 0px;
    transform: rotateY(-112deg);
    border: black solid;
    border-bottom: transparent;

}
#alfombra{
    width: 170px;
    height: 180px;
    border: black solid; 
    border-radius:1em ;
    top: 450px;
    left: 350px;
    transform: rotateX(70deg);
    position: absolute;
    background-color: palegreen;
    z-index:2;
    transition: 3s linear;

}
#alfombra:hover{
    transform:translateY(-70px)rotateX(70deg)
}
#mesahall{
    width: 180px;
    height: 180px;
    position: absolute;
    top:340px;
    right:550px

}
#florero{
    width:100px;
    height:100px;
    position:absolute;
    background-color: transparent;
    transition:2s linear;
    z-index:2

}
#florero:hover{
    transform:translateX(55px)
}
#florero1{
    width:100px;
    height:140px;
    position:absolute;
    background-color: transparent;
    right:535px;
    bottom:45%;
    transition:2s linear;
    
}
#florero1:hover{
    transform:translateX(-55px)}
.typing{
        position: absolute;
        width: 90vw;
        height: 30vh;
        bottom: 0;
        z-index:2
    }
    
h1{
        border-radius: 30px;
        float: left;
        color: rgb(245, 240, 240);
        position: relative;
        background-color:rgba(0, 89, 255, 0.555);
        font-size: 20px;
        padding: 20px;
        font-family: 'Press Start 2P', cursive;
    }
    
    h1 span{
        position: absolute;
        right: 0;
        width: 0;
        background: blue;
        border-left: 1px solid #000; 
    
        animation: typing 5s steps(225);
    }
    
    
    @keyframes typing{
        from{
            width: 100%;
        }
        to{
            width: 0%;
        }
    }

/*HASTA ACA LOS ESTILOS DEL HALL*/
#living{
    grid-row: 2;
    grid-column: 1;
}

#kitchen{
    grid-row: 1;
    grid-column: 1;
}

#dinning-room{
    grid-row: 2;
    grid-column: 3;
}

/*HALLWAY*/

#hallway{
    grid-row: 1;
    grid-column: 2;
    background-image: url(../img/hallway.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #d07e8a;
}

input {
    width: 80px;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    border-radius: 4px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BART'S ROOM*/

#bart-room{
    grid-row: 1;
    grid-column: 3;
    background-image: url(../img/bart-bedroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #f5a0b3;
}


#letter {
    position: absolute;
    left: 215px;
    bottom: 130px;
    background-color: #c2b0ed;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-color: #c2b0ed;
}

#letter:hover {
    border-color: black;
}

/*LISA'S ROOM*/

#lisa-room{
    grid-row: 1;
    grid-column: 4;
    background-color: rgb(255, 133, 174);
    perspective: 425px;
}
#pisolisa{
    width: 70%;
      height: 40%;
      position: absolute;
       bottom:0px;
      right: 0px;
      left: 200px;
      background-color:rgb(3, 102, 89);
      transform: rotateX(75deg);
      border: black solid;
      border-bottom: transparent;
}
#ventana{
    width:300px;
    height: 200px;
    background-color:peachpuff;
    position: absolute;
    right:30%;
    top:23%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  

}
#ventana *{
 width:128px ;
 height:170px ;
 background-color: turquoise;


}
#nube1{
    width: 30px;
    height: 10px;
    right:90px;
    bottom:140px;
     position: absolute;
    animation-name: nube1;
    animation-timing-function: linear;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     

}
#nube2{
    width: 35px;
    height: 20px;
    right:90px;
    bottom:110px;
    position: absolute;
    border-radius:100px;
    animation-name: nube2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     
}

@keyframes nube1{
    0%{
     transform: translateX(80px);
     opacity: 1;
    }
    50%{
        transform: translateX(40px);
        opacity:0
    }
    100%{
        transform:translateX(0px);
        opacity:1
    }
}
@keyframes nube2{
    0%{
     transform: translateX(80px);
     opacity: 1;
    }
    100%{
     transform: rotateX(40px);
     opacity: 0;
    }
}

#mesita{
    width: 200px;
    height: 500px;
    
    display:flex;
    flex-direction: column;
    position: absolute;
    left:300px;
    perspective:200px;
}
#borde-espejo{
    width: 150px;
    height: 250px;
    background-color: teal;
    border-radius: 12em;}

#espejo{
    width: 120px;
    height:220px ;
    background-color: lightblue;
    border-radius:10em;
    transition:4s linear;
    
}


#mesa{
    width: 200px;
    height: 100px;
    background-color: orangered;
    position: relative;
    bottom:50px;
    transform: rotateX(83deg);

}
#cajones{
    position: relative;
    bottom:84px;
    width: 230px;
    height:100px ;
    background-color: palegreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#cajones>#cajon{
    width: 80px;
    height: 30px;
    border: black solid;
    background-color: rgb(93, 197, 93);
}
#boton{
    width: 4px;
    height: 4px;
    background-color: rgb(255, 115, 0);
    border-radius:50px;
    border: black solid;
    position: absolute;
}
#boton:hover{
    transform:scale(1.5)
}
.letraa{
    position:absolute;
    bottom:100px;
    animation:letra 5s linear;
    border:none;
    width:150px;
    height:150px
}
@keyframes letra{
    0%{
        transform:translateY(-20px);opacity:1
    }
    50%{
        transform:translateY(-60px);opacity:1
    }
    100%{
        transform:translateY(-100px);
        opacity:0
    }
}
.tirador:hover{
    transform:scale(1.5)
}
.tirador{
    width: 4px;
    height: 4px;
    background-color: rgb(255, 115, 0);
    border-radius:50px;
    border: black solid;
  
}
#cama{
    width: 43%;
    height:50%;
    position: absolute;
    right:110px;
    top: 300px;
    -ms-perspective-origin-x:100px;
}
#lado-central{
    width: 360px;
    height: 170px;
    background-color: peru;
    transform: rotateX(70deg);
    position:absolute;
    bottom:100px;
    right:112px
}
#lado-izquierdo{
        width:150px;
        height:60px;
        background-color: peru;
        transform: rotate3d(-1,-5,1,90deg);
        position: absolute;
        right:400px;
        transition:all 3s;
        transition-timing-function: linear;
        transform-style: preserve-3d;
        }
      

#lado-frontal{
    width:428px;
    height: 65px;
    background-color: peru;
   
    top:62px;
    left:52px;
    transform:rotateX(-23deg)

}
#almohada{
    width: 88px;
    height:140px;
    background-color:palegoldenrod;
    transform:rotateX(70deg);
    position: absolute;
    bottom:120px;
    left:120px;
    border-radius: 1em;

}
#cabecera{
    width:210px;
        height:120px;
        background-color:violet;
        border-radius: 5em 5em 0em 0em;
        transform: rotate3d(-1,-6,0,106deg);
        border: black solid;
        position: absolute;
        left:354px;
        bottom: 184px;

}
#cuadrolisa{
    position:absolute;
    bottom:400px;
    right:0%;
    border-radius:4em;
    transform-origin:bottom right;
    transform:rotateY(-98deg);
    border-color:papayawhip;
    border-style: solid;
    transition:2s linear
}
#cuadrolisa:hover{
    transform:translateX(70px)rotateY(-98deg)
}
#osito{
    width:100px;
    height:100px;
    position:absolute;
    right:500px;
    bottom:140px;
    transition:1.5s linear
}
#osito:hover{
    transform:translateX(-90px)
}
#lisa{
    width: 200px;
    height:200px;
    background:transparent;
    position: absolute;
    bottom:162px;
    right:75px;
    animation: lisa 55s linear;
}
@keyframes lisa{
    from{
        background-image: url("https://www.gifmania.com/Gif-Animados-Dibujos-Animados/Imagenes-FOX/Los-Simpson/Lisa-Simpson/lisa-simpson4-33473.gif");
        background-repeat:no-repeat;
        background-size:contain
        
        
    }
    to{
        background-image: none;
         
    }
}

#saxofon{
    width: 150px;
    height:150px;
    position:absolute;
    transform:rotateX(-59deg);
    right:30%;
    bottom:26%;
    transition:1.5s linear;
  
}
#saxofon:hover{
    transform:translateX(70px)rotateX(-59deg);
}
.lisafeliz{
    width:400px;
    height:400px;
    position:absolute;
    right:10%;
    top:0%;
    z-index:2;
    transform: translateY(-130px);

}
/*HASTA ACA LOS ESTILOS DEL CUARTO DE LISA*/
#maggie-room{
    grid-row: 2;
    grid-column: 4;
}

#game{
    grid-row: 3;
    grid-column: 4;
}

#end{
    grid-row: 3;
    grid-column: 3;
}

/* ARROWS */

.left-arrow{
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
}

.right-arrow{
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}

.bottom-arrow{
    height: fit-content;
    position: absolute;
    bottom: 2%;
    cursor: pointer;
}

.top-arrow{
    height: fit-content;
    position: absolute;
    top: 2%;
    cursor: pointer;
}

.left-arrow a, .right-arrow a, .bottom-arrow a, .top-arrow a{
    width: inherit;
    height: inherit;
}
 
 


